@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
/* === FLASH FIX (NO UI CHANGES) === */
html {
	background-color: #F9F9F9; /* Light mode background */
	transition: none !important;
  }
  html.dark {
	background-color: #0C0C1E; /* Match your dark theme */
  }
  body {
	background-color: var(--grey);
	overflow-x: hidden;
	transition: none !important;
  }
  
  /* Remove highlight/flash effects */
  * {
	-webkit-tap-highlight-color: transparent;
	outline: none;
	user-select: none;
  }
  
  /* Dark mode color variables (from your theme) */
  body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
  }
  /* === END FLASH FIX === */
  
/* PREVENT FLASH ON PAGE LOAD */
html {
    overflow-x: hidden;
    background-color: #eee; /* Light mode default */
    transition: background-color 0.2s ease;
}

html.dark {
    background-color: #060714; /* Dark mode background */
}

/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SMOOTH THEME TRANSITIONS */
*,
*::before,
*::after {
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

/* DISABLE TRANSITIONS DURING THEME CHANGE */
.theme-changing * {
    transition: none !important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;

    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
}

body.dark {
    --light: #0C0C1E;
    --grey: #060714;
    --dark: #FBFBFB;
    --main: blue;
    --bg: #0B1218;
    --bg-body: #121D28;
    --text-color: #fff;
    --border-color: #3e454d;
    --card-bg: #fff;
    --card-icon-bg: #0B1218;
    --card-icon-color: var(--bg);
}

body {
    background: var(--grey);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    overflow-x: hidden;
    scrollbar-width: none;
    transition: width 0.3s ease;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar.hide {
    width: 60px;
}

#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
}

#sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

/* REMOVE FLASH EFFECTS FROM SIDEBAR LINKS */
#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    /* Remove flash on interaction */
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    text-decoration: none;
}

/* PREVENT FOCUS/ACTIVE FLASH */
#sidebar .side-menu li a:focus,
#sidebar .side-menu li a:active,
#sidebar .side-menu li a:visited {
    outline: none;
    background: var(--light);
    color: var(--dark);
    -webkit-tap-highlight-color: transparent;
}

#sidebar .side-menu.top li.active a {
    color: var(--blue);
}

#sidebar .side-menu.top li.active a:focus,
#sidebar .side-menu.top li.active a:active {
    color: var(--blue);
    outline: none;
    background: var(--light);
    -webkit-tap-highlight-color: transparent;
}

#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#sidebar .side-menu.top li a:hover {
    color: var(--blue);
}

#sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 20px;
}

/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: width 0.3s ease, left 0.3s ease;
}

#sidebar.hide ~ #content {
    width: calc(100% - 60px);
    left: 60px;
}

/* NAVBAR */
#content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#content nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
    color: var(--dark);
}

#content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}

#content nav .nav-link {
    font-size: 16px;
    transition: color 0.2s ease;
}

#content nav .nav-link:hover {
    color: var(--blue);
}

#content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

#content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

#content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

#content nav .notification {
    font-size: 20px;
    position: relative;
}

#content nav .notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    color: var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

#content nav .switch-mode {
    display: block;
    min-width: 50px;
    height: 25px;
    border-radius: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
}

#content nav .switch-mode::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--blue);
    border-radius: 50%;
    transition: all .3s ease;
}

#content nav #switch-mode:checked + .switch-mode::before {
    left: calc(100% - (25px - 4px) - 2px);
}

/* TEAM SECTION */
.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--bg);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: var(--text-color);
}

.admin-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.admin-form input,
.admin-form select,
.admin-form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.admin-form button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.admin-form button:hover {
    background-color: #0056b3;
}

.admin-table {
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    white-space: nowrap;
}

.admin-table th,
.admin-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.admin-table th {
    background-color: #007bff;
    color: #fff;
}

.admin-table td {
    color: var(--text-color);
}

.admin-table tbody tr:hover {
    background-color: var(--border-color);
}

.admin-table td.password-cell {
    position: relative;
}

.admin-table .toggle-password {
    position: absolute;
    right: 10px;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff;
    transition: color 0.2s ease;
}

.admin-table .toggle-password:hover {
    color: #0056b3;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }

    #content {
        width: calc(100% - 60px);
        left: 200px;
    }

    #content nav .nav-link {
        display: none;
    }

    .admin-form {
        grid-template-columns: 1fr;
    }

    .admin-table {
        overflow-x: auto;
        display: block;
    }

    .password-cell {
        gap: 10px;
    }

    #sidebar .brand {
        font-size: 15px;
    }
}

@media screen and (max-width: 576px) {
    #content nav form .form-input input {
        display: none;
    }

    #content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: var(--dark);
    }

    #content nav form.show .form-input input {
        display: block;
        width: 100%;
    }
    
    #content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: var(--light);
        background: var(--red);
    }

    #content nav form.show ~ .notification,
    #content nav form.show ~ .profile {
        display: none;
    }
}
